object {
	align-items: center;
	border: 1px solid #0c3038;
	width: 300px;
	height: 100px;
	background-color: white;
	border-radius: 25px;
	padding: 15px;
	box-shadow: 0px 0px 10px 1px #000;
}

body {
	font-family: Serif, Georgia;
	color: white;
	text-align: center;
	background-color: #7eb7c4;
		text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
				-1px -1px 0 #000;
}

hr {
	border: 0px;
	height: 4px;
	background-color: #243e52;
		border-color: black;
	border: 0px;
	border-radius: 150px;
	padding: 3px;
	box-shadow: 0px 0px 10px 1px #000;
}

daily {
	background-color: red;
}

a {
	color: white;
}

button {
	border: 1px;
	background-color: #a1acbf;
	border-radius: 25px;
	padding: 20px;
	box-shadow: 0px 0px 10px 1px #000;
}

hr.hr2 {
	background-color: black;
	border-color: black;
	border: 0px;
	border-radius: 30px;
	padding: 2px;
	height: 2px;
	width: 300px;
}

commentbox {
	align-items: center;
	background-color: red;
}